# Ambientes Virtuais
.venv/
venv/
ENV/

# Caches do Python
__pycache__/
*.pyc

# Dados
data/

# Caches do Streamlit e IDEs
.streamlit/
.ipynb_checkpoints/
.vscode/

# Outros
desktop.ini
.DS_Store
guia_git.md