# Ambientes Virtuais
.venv/
venv/
ENV/

# Caches do Python
__pycache__/
*.pyc

# Dados
data/
data/cache/
data/raw
data/warehouse

# Caches do Streamlit e IDEs
.ipynb_checkpoints/
.vscode/

# Arquivos do sistema
desktop.ini
.DS_Store
Thumbs.db

# Documentação/local
guia_git.md