# Ambientes Virtuais
.venv/
venv/
ENV/
.env

# Caches do Python
__pycache__/
*.pyc

# Dados
data/cache/
data/raw

# Caches do Streamlit e IDEs
.streamlit/
.streamlit/secrets.toml
.ipynb_checkpoints/
.vscode/

# Outros
desktop.ini
.DS_Store
guia_git.md
gravação-dashboard.mp4